
body, main, footer, header {
    background-color: bisque;
}


.col-8, .col-4 {
    background-color: rgb(243, 243, 243);
}
.container{
    background-color: #ffe4c4;
}
.col-4{
    align-content: center;
}
.card {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
}
footer{
    margin: 100px;
}